* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: unset;
}

.blue-hover {
  transition: 0.15s ease-in-out;
}
.blue-hover:hover {
  color: #3498db;
}

.red-hover {
  transition: 0.15s ease-in-out;
}
.red-hover:hover {
  color: #e74c3c;
}

.msg-container {
  background-color: #ecf0f1;
  padding: 25px;
  border-radius: 10px;
  max-width: 800px;
}

.green-hover {
  transition: 0.15s ease-in-out;
}
.green-hover:hover {
  color: #18bc9c;
}

header .navbar-collapse {
  flex-grow: 0.95;
}
header .navbar-nav {
  width: 95%;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  header .navbar-nav {
    width: 100%;
    align-items: center;
  }
}

#formations-list .card {
  transition: 0.3s ease-in-out;
  width: 20em;
  max-width: 100%;
}
#formations-list .card:hover {
  transform: scale(1.05);
}

.fa-trash:hover {
  color: #e74c3c;
}

.btn-actions-container {
  border-top: 1px solid black;
}

.btn-action {
  width: 219px;
  transition: 0.25s;
  max-width: 100%;
}
.btn-action:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #2a2826;
  transform: translateY(-0.25em);
}

.btn-return {
  transition: 0.25s;
  width: 367px;
  max-width: 100%;
}
.btn-return:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #2a2826;
  transform: translateY(-0.25em);
}

.flash-notice {
  background-color: #e0685c;
  padding: 11px;
  border-radius: 10px;
  color: white;
  margin: auto;
  max-width: 480px;
}

.input-container {
  position: relative;
}
.input-container ul {
  margin: 0;
  list-style: none;
}
.input-container ul li {
  position: absolute;
  top: 65px;
  left: 0;
  padding-left: 1.5rem;
  color: #e32410;
}

.input-container-register {
  position: relative;
}
.input-container-register ul {
  margin: 0;
  list-style: none;
}
.input-container-register ul li {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 1.5rem;
  color: #e32410;
}

.alert-warning {
  width: 500px;
  border-radius: 10px;
  margin: auto;
  background-color: #fde1b6;
  padding: 15px;
}

.p-30 {
  padding: 30px;
}

/* Categories */
#sessions-list .date-container {
  width: 350px;
  max-width: 100%;
  padding: 0.7em 0.3em 0.7em 2.75em;
  border-radius: 7px;
  color: white;
  margin: auto;
}
#sessions-list .btn-return {
  width: unset;
}
#sessions-list .card {
  width: 23em;
}

#detail-category ul li {
  font-size: 30px;
}

#interns-list table .birthdate-cell {
  width: 156px;
}
#interns-list table .age-cell {
  width: 65px;
}
#interns-list .btn-return {
  width: 260px;
}

#detail-intern .intern-record {
  width: 700px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#detail-intern .intern-record ul {
  padding: 30px;
}
#detail-intern .intern-record h3 {
  padding: 15px;
  border-bottom: 1px solid black;
  background-color: #e74c3c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#add-intern form, #edit-module form, #edit-category form, #edit-session form, #edit-profil form {
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 14px;
  max-width: 760px;
  border: #2c3e50 solid 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  padding: 50px;
}
#add-intern form select, #edit-module form select, #edit-category form select, #edit-session form select, #edit-profil form select {
  max-width: 100%;
}
#add-intern form option, #edit-module form option, #edit-category form option, #edit-session form option, #edit-profil form option {
  padding: 15px 0;
}
@media screen and (max-width: 992.5px) {
  #add-intern form option, #edit-module form option, #edit-category form option, #edit-session form option, #edit-profil form option {
    overflow: auto;
  }
}

#detail-session .session-record {
  width: 800px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#detail-session .session-record form {
  padding: 30px;
}
#detail-session .session-record h3 {
  padding: 15px;
  border-bottom: 1px solid black;
  background-color: #e74c3c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#edit-session form {
  margin: unset;
  max-width: 600px;
}
#edit-session .borders input {
  margin-bottom: 14px;
}

#modules-list table, #categories-list table {
  width: 800px;
  max-width: 100%;
}
#modules-list table thead th, #categories-list table thead th {
  background-color: white;
}
#modules-list .btn-return, #categories-list .btn-return {
  margin: auto;
}

#home-sessions .status {
  width: 195.78px;
}
#home-sessions .status div {
  border-radius: 6px;
  color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 2px;
}
#home-sessions .formation-cell {
  width: 588.55px;
}

#detail-user ul {
  line-height: 30px;
}
#detail-user .session-record {
  width: 700px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#detail-user .session-record ul {
  padding: 30px;
}
#detail-user .session-record h3 {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid black;
  background-color: #e74c3c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#edit-profil .btn-action {
  max-width: 225px;
}

#inbox .message-preview {
  width: 385px;
}
#inbox .btn-return {
  width: 200px;
}

#read {
  max-width: 800px;
  margin: auto;
}
#read .btn-action {
  width: 235px;
}

#messagerie .btn-return {
  width: 250px;
}

.form-searchBar .searchbar {
  width: 250px;
}

#send-msg .btn-action {
  width: unset;
}
#send-msg form {
  max-width: 800px;
}/*# sourceMappingURL=style.css.map */